@font-face {
    font-family: inter;
    font-display: swap;
    src: url("./assests/fonts/InterVariable-s.p.494bb210.ttf") format("truetype");
}

@font-face {
    font-family: Geist Mono;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(./assests/fonts/797e433ab948586e-s.p.dbea232f.woff2) format("woff2");
}

:root {
    font-family: 'inter', Verdana, sans-serif;
    --primary-color: #ffffff;
    --primary-color-5: #ffffff0d;
    --secondary-color: #08090a;
    --secondary-color-3: #08090a08;
    --secondary-color-7: #08090a12;
    --secondary-color-15: #08090a26;
    --secondary-color-80: #08090acc;
    --tertiary-color: #08090b;
    --quaternary-color: #0c8c5e;
}

html, * {
    margin: 0;
    padding: 0;
    border: 0 solid;
    box-sizing: border-box;
    font-family: 'inter', Verdana, sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    border: none;
}

img, svg {
    display: block;
}

.full-w {
    width: 100%;
}

.max-w {
    max-width: 1024px;
}

.flex-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.n-text {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
}

.btn-b-w {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 100px;
}

.btn-w-b {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 100px;
}

.card-label {
    font-family: "Geist Mono";
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 1.5;
    color: var(--quaternary-color);
    text-transform: uppercase;
}

.main-heading {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -0.8px;
    color: var(--secondary-color);
    text-align: center;
}

.z-10 {
    position: relative;
    z-index: 10;
}

.read-story span {
    gap: 6px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
}

.read-story span svg {
    width: 10px;
    height: 10px;
    rotate: -90deg;
}

header {
    padding: 16px 24px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: var(--primary-color);
    backdrop-filter: blur(16px);
}

.header-content {
    position: relative;
    z-index: 100;
}

.header-content .container {
    max-width: 66rem;
    column-gap: 32px;
    margin: auto;
}

.header-content .left-nav{
    column-gap: 168px;
}

.left-nav nav {
    max-width: max-content;
    flex: 1;
}

.left-nav nav ul {
    gap: 4px;

}

.left-nav nav ul a {
    display: inline-flex;
    width: max-content;
    height: 32px;
    padding: 4px 12px;
    color: var(--secondary-color);
}

.header-content .right-nav {
    justify-content: flex-end;
}

.right-nav .nav-cta {
    gap: 8px;
}

.nav-cta a {
    padding: 4.5px 12px;
}

.nav-cta a:first-child {
    background-color: var(--secondary-color-3);
    border-color: transparent;
}

.hero-section {
    position: relative;
    margin-top: 66px;
}

.hero-section .bg-img {
    background-image: url(./assests/img/bg-light.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 982px;
    position: absolute;
    top: -10rem;
    z-index: -1;
    mask-image: linear-gradient(#000 0%,rgba(0,0,0,.99) 18.5%,rgba(0,0,0,.953) 34.3%,rgba(0,0,0,.894) 47.6%,rgba(0,0,0,.824) 58.5%,rgba(0,0,0,.74) 67.5%,rgba(0,0,0,.647) 74.7%,rgba(0,0,0,.55) 80.3%,rgba(0,0,0,.45) 84.7%,rgba(0,0,0,.353) 88%,rgba(0,0,0,.26) 90.5%,rgba(0,0,0,.176) 92.5%,rgba(0,0,0,.106) 94.2%,rgba(0,0,0,.047) 95.9%,rgba(0,0,0,.01) 97.7%,transparent 100%);
}

.hero-section .notice-imp {
    gap: 10px;
    position: absolute;
    top: 30px;
    left: 50%;
    translate: -50% 0;
    background-color: var(--secondary-color-15);
    border-radius: 60px;
    padding: 4px 8px 4px 4px;
}

.notice-imp span {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    padding: 2px 8px;
    border-radius: 60px;
    background-color: var(--quaternary-color);
}

.notice-imp p {
    font-size: 14px;
}

.notice-imp svg {
    width: 16px;
    height: 16px;
}

.hero-section .hero-content {
    padding: 104px 0px 96px;
}

.hero-content h1 {
    max-width: 43rem;
    font-size: 62px;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--primary-color);
}

.hero-content p {
    font-size: 18px;
    max-width: 29.5rem;
    line-height: 1.5;
    text-align: center;
    margin-top: 24px;
    color: #fff;
}

.hero-content form {
    gap: 6px;
    max-width: 22.5rem;
    margin-top: 32px;
    padding: 4px;
    border: 1px solid #ffffff26;
    border-radius: 100px;
    background-color: #ffffff26;
}

.hero-content form input {
    height: 32px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--primary-color);
    padding: 0px 12px;
    background-color: transparent;
    outline-style: none;
}

.hero-content form input::placeholder {
    color: #08090a60;
}

.hero-content form button {
    padding: 4.5px 12px;
    border: 1px solid var(--primary-color);
}

.hero-img {
    max-width: 1080px;
    margin: auto;
    position: relative;
}

.hero-img .img-content {
    border: 3px solid var(--secondary-color-3);
    border-bottom-width: 0;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    overflow: hidden;
}

.img-content img {
    height: auto;
}

.trusted-section {
    padding: 72px 32px 144px;
}

.trusted-section .trusted-content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 8px;
    row-gap: 28px;
}

.trusted-content .trusted-logo {
    width: auto;
    height: 64px;
}

.feature-section {
    margin: auto;
    margin-bottom: 144px;
}

.feature-section .feature-heading {
    gap: 16px;
    padding: 48px 32px;
}

.feature-heading p {
    max-width: 648px;
    text-align: center;
    text-wrap: balance;
    color: var(--secondary-color-80);
}

.feature-content {
    gap: 24px;
}

.feature-content .col-2 {
    gap: 24px;
}

.col-2 .feature-card {
    width: 495px;
    padding: 6px;
    border: 1px solid var(--secondary-color-7);
    border-radius: 24px;
}

.feature-card .card-content {
    padding: 24px;
    gap: 16px;
    align-items: normal;
}

.feature-card .card-content h3 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.24px;
    line-height: 1.3;
}

.feature-card .card-content p {
    font-size: 16px;
    line-height: 1.5;
    text-wrap: balance;
    color: var(--secondary-color-80);
}

.feature-card .card-img {
    height: 320px;
}

.card-img img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.feature-content .col-1 {
    width: 100%;
    border: 1px solid var(--secondary-color-7);
    border-radius: 24px;
}

.col-1 .card-content {
    align-items: center;
    padding: 48px 32px;
}

.col-1 .card-content .card-para-txt {
    max-width: 640px;
    text-align: center;
}

.col-1 .card-img {
    height: 430px;
}

.enterprise-section {
    padding: 96px 0px;
    background-color: var(--secondary-color-3);
}

.enterprise-section .enterprise-content {
    margin: auto;
}
.enterprise-content .enterprise-head {
    justify-content: space-between;
    padding-bottom: 48px;
    gap: 24px;
}

.enterprise-head .head-content {
    max-width: 640px;
    gap: 16px;
    align-items: normal;
}

.head-content h3 {
    text-wrap: balance;
    text-align: start;
}

.head-content p {
    font-weight: 400;
    text-wrap: balance;
    color: var(--secondary-color-80);
}

.enterprise-head a {
    margin-top: auto;
    padding: 7px 24px;
}

.enterprise-content .enterprise-body {
    padding-bottom: 48px;
    margin: 24px 0px;
    gap: 48px;
}

.enterprise-body svg {
    color: var(--quaternary-color);
    width: 32px;
    height: 32px;
}
.enterprise-body h4 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.2px;
    line-height: 26px;
    margin: 32px 0px 16px;
}

.enterprise-body p {
    color: var(--secondary-color-80);
}

.enterprise-foot {
    overflow: hidden;
}

.enterprise-foot .foot-container {
    gap: 16px;
    align-items: normal;
}

.foot-container .foot-content {
    height: 518px;
    position: relative;
    padding: 64px;
    margin: auto;
    border-radius: 24px;
    overflow: hidden;
    justify-content: start;
    align-items: normal;
}

.foot-content .foot-img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    scale: 1.15;
    color: transparent;
    background-color: #08090a33;
    backface-visibility: hidden;
}

.foot-content .p1 {
    font-weight: 600;
    color: var(--primary-color);
}

.foot-content h3 {
    max-width: 448px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.24px;
    line-height: 1.3333;
    margin-top: 16px;
    text-wrap: balance;
}

.foot-content .read-story {
    margin-top: 32px;
    width: fit-content;
}

.foot-content .read-story span {
    gap: 6px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
}

.foot-content .read-story span svg {
    width: 10px;
    height: 10px;
    rotate: -90deg;
}

.foot-content .data-content {
    justify-content: start;
    align-items: flex-start;
    gap: 28px;
    margin-top: auto;
}

.foot-content .data-content .data {
    align-items: start;
    width: 12rem;
    gap: 8px;
}

.data-content .data p:first-child {
    font-size: 2.5rem;
    letter-spacing: -0.8px;
    line-height: 44px;
}

.data-content .data p:last-child {
    font-size: 14px;
    line-height: 24px;
    color: #ffffffcc;
}

.enterprise-foot .enterprises-name {
    width: max-content;
    min-width: 100%;
    gap: 48px;
    padding: 12px 24px;
}

.enterprises-name .enterprise-logo {
    width: 140px;
    height: 64px;
    opacity: 0.5;
}

.enterprises-name .enterprise-logo:first-child {
    opacity: 1;
}

.case-section {
    padding: 72px 0px;
    overflow: hidden;
}

.case-section .case-head {
    gap: 16px;
    margin: auto;
    padding: 48px 32px;
}

.case-section .case-head p:last-child {
    max-width: 640px;
    line-height: 24px;
    color: var(--secondary-color-80);
    text-align: center;
    text-wrap: pretty;
}

.case-section .case-body {
    padding: 0px 18%;
}

.case-body .case-cards {
    display: flex;
    margin-left: -16px;
    transform: translate3d(0px, 0px, 0px);
}

.case-cards .card-content {
    max-width: 410px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    padding-left: 16px;
}

.case-cards .card-content .card-text {
    display: flex;
    gap: 24px;
    padding: 12px 0px;
}

.case-cards .card-content .card-text p {
    line-height: 24px;
    color: #08090acc;
    overflow: hidden;
    text-wrap: pretty;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-clamp: 2;
    text-overflow: ellipsis;
}

.case-cards .card-content .card-text span {
    justify-content: start;
    color: #08090a80
}

